
<div class="container">
	<div class="col-md-6 col-md-offset-3">

		<h1>Editando postagem</h1>

		<%= render 'form', post: @post %>
		<br>
		<%= link_to post_path(@post), class:'btn-btn-link' do %>
		<i class="glyphicon glyphicon-arrow-left"> Voltar a publicação</i>
		<% end%>
		
		
	</div>

	
</div>


